/* font-family: 'Montserrat', ;
font-family: 'Merriweather', ;
font-family: 'Raleway', ; */
*, *:befor, *:after{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat',sans-serif ;
}
h1,h2,h3,h4,h5,h6,p{
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
}
/* HEADER
=====================================================================================*/

header {
    width: 100%;
    margin: 0 auto;
   background-color: rgb(239, 240, 242);
   background-size: cover;
    height: 800px;
    min-width: 394px;
}
.header__inner{
    max-width: 1170px;
    margin: 0 auto;
    min-height: 800px;
    display: grid;
    grid-template-rows: 110px 440px 70px 180px;
    justify-items: center;
    align-items: center;
    position: relative;
    background-color: rgb(239, 240, 242);
}

.header__logo{
    padding: 6px;
    border: 6px solid #000;
    align-self: end;
    justify-self: start;
    margin-left: 15px;
    margin-bottom: 3px;
}
.header__logo:hover{
    box-shadow: #b2f2ee 3px 3px 5px;
    transition: 0.3s;
}
.header__tittle{
    font-size: 45px;
    font-family: "Montserrat", sans-serif;
    color: rgb(80, 80, 80);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0px 9px 10px rgba(0, 0, 0, 0.24);

  }
  .color_text{
    background-color: #b2f2ee;
    width: 255px;
    height: 54px;
    z-index: 4;
  }
  .header__button{
      padding: 15px 48px;
      border: 2px solid #000;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 18px;
      font-family: 'Montserrat', 400;
      color: #000;
      letter-spacing: 4px;
      line-height: 1.556;

  }
  .header__button:hover{
      opacity: 0.55;
      transition: 0.3s;
  }
  .header__button:active{
      background-color: #5dceda ;
  }


  .cup__juice{
      position: absolute;
      right: 113px;
      top: 586px;
    
  }
 /* HEADER_END
 ==================================================================================== */



 /* ABOUT_US
 ================================================================================== */
.conteiner{
    background-color: #f8fafa;
    min-width: 394px;
    width: 100%;
    background-size: cover;
}
.about__us{
    display: grid;
    width: 100%;
    min-height: 984px;
    max-width: 1170px;
    margin: 0 auto;
    grid-template-rows: 283px 701px;
    grid-template-areas:'about__us_title_sub about__us_title_sub ' 'work_img about__us_h3_text';
    grid-template-columns: 52% 51%;
}

.about__us_title_sub{
    grid-area: about__us_title_sub;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.work_img{
    grid-area: work_img;
}
.about__us_a{
    justify-self: end;
    margin-right: 90px;
}
.about__us_h3_text{
    grid-area: about__us_h3_text;
}


.about__us_title{
    font-family: 'Montserrat', sans-serif, bold ;
    font-size: 38px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 10px;
}
.about__us_sub{
    font-family: 'Merriweather',sans-serif, 400;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #848585;
}

.work_img:hover{
    box-shadow: 0px 0px 30px 0px rgba(20, 20, 21, 0.13);
    transition: 0.3s;
  }
.about__us_h3{
    font-family: 'Merriweather',sans-serif, bold;
    font-size: 20px;
    text-transform: uppercase;
    color: #646565;
    word-spacing: 3px;
    letter-spacing: 2px;
    margin-bottom: 22px;
}
.about__us_text{
    font-family: 'Raleway';
    font-weight: 400;
    word-spacing: 4px;   
    margin-bottom: 33px; 
    line-height: 28px;
    color: #666767;
}
.about__us_h3_text_inner{
    text-align: justify;
    max-width: 479px;
    
}

/* ABOUT_US_END
 ====================================================================================== */  
  


/*FEATURED_WORKS
 ====================================================================================== */  
.conteiner_works{
    min-width: 394px;
    width: 100%;
    max-width: 1170px;
    min-height:1169px;
    margin: 0 auto;
}
.featured_works_tittle{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    min-height: 316px;
}
.feature_tittle{
    font-family: 'Montserrat', sans-serif, bold ;
    font-size: 38px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 10px;
    align-self: end;
    justify-self: center;
}
.feature_sub{
    font-family: 'Merriweather',sans-serif, 400;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #848585;
    justify-self: center;
    margin-top: 10px;
}
.featured_works{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    align-items: center;
    justify-content: center;
    grid-column-gap: 14px;
    grid-row-gap: 10px;
    
}
.works_img{
    width: 100%;
}
/*FEATURED_WORKS_END
 ====================================================================================== */

 /*OUR_TEEM
 ====================================================================================== */
















 



  /* MEDIA
  ====================================================================================*/
  @media (max-width:594px){
    .header__logo{
        align-self:end;
        justify-self: center;
        margin-left: 0;
    }
  }
  @media (max-width:651px){
      .cup__juice{
       display: none;
      }
  }

  @media (max-width:1005px){
    .about__us_h3_text_inner{
        max-width: 320px;
        transition: 0.6s;
    } 
  }
  
  @media (min-width:1005px){
    .about__us_h3_text_inner{
        max-width: 479px;
        transition: 0.6s;
    } 
  }
  @media (max-width:1021px){
      .about__us_h3{
          text-align: center;
      }
  }

  @media (max-width:936px){
    .work_img{
        max-width: 75%;
        transition: 0.6s;
    } 
    .about__us_a{
        margin-left: 10px;
        transition: 0.6s;
    }
  }
  @media (max-width:684px){
    .about__us{
        grid-template-columns: 100%;
        grid-template-areas:'about__us_title_sub about__us_title_sub '
        'about__us_h3_text about__us_h3_text' 'work_img work_img';
    }
    .about__us_h3_text_inner{
        margin: 0 auto;
    }
    .about__us_a{
        justify-items: center;
        justify-self: center;
        margin: 0;
    }
    .work_img{
        max-width: 100%;
    }
  }
  @media (max-width:1237px){
    .featured_works{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        justify-items: center;
    }

    .works_img{
        justify-self: center;
    }
  }
  @media (max-width:436px){
    .feature_tittle{
        font-size: 25px;
    }
    .feature_sub{
        font-size: 15px;
    }
  }